html { 
	background: url(../images/background2aR.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*
.rtitle{
	font-size:28px;
	font-weight:bold;
	padding:5px 10px;
	background:#336699;
	color:#fff;
	font-family: Verdana;
}
*/

#userprofile {
	position: absolute;
	right:10px;
	top:10px;
}
.userprofilebutton {
	background:#fafafa;
	padding:0px;
}

.wrapper {
    height: auto;
	margin: 20px 20px 20px -20px;
}

.box {
	font-size:12px;
	font-weight:bold;
	text-align: center;
	display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    background: #FCC;
    z-index: 0;
    margin: 2px 2px 2px -2px;
    transition: all .15s ease-in-out;
}

.box:hover {
    background: #9CC;
    z-index: 100;
    transform: scale(1,1);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
}
