/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 21, 2014, 10:45:36 AM
    Author     : yoyok
*/

.datagrid-filter {
    border:1px;
    /*
    background:url('filter.png') no-repeat right center rgb(234, 253, 255);
    */
    background:url('filter.png') no-repeat right center white;
    text-align: center;
}
